.idea/
data/
src/__pycache__
src/.pytest_cache
tests/__pycache__/conftest.cpython-311-pytest-7.4.3.pyc
tests/__pycache__/test_Parser.cpython-311-pytest-7.4.3.pyc
tests/__pycache__/test_Solver.cpython-311-pytest-7.4.3.pyc
